[submodule "backend/core/gateway"]
	path = backend/core/gateway
	url = https://github.com/RKOrtega94/ecommerce.gateway.git
	branch = main
[submodule "backend/libs/commons"]
	path = backend/libs/commons
	url = https://github.com/RKOrtega94/ecommerce.commons.git
	branch = main
[submodule "backend/libs/pagination"]
	path = backend/libs/pagination
	url = https://github.com/RKOrtega94/ecommerce.pagination.git
	branch = main
